<table>
    <tr>
        <th>Name</th>
        <th>Date</th>
        <th>&nbsp;</th>
    </tr>
    
    <% @events.each do |event| %>
    <tr>
        
        <td><%= link_to event.title, event %></td>
        <td><%=h event.start_date_time%></td>
        <td><%= link_to "Signup", authorize_event_signups_path(event) %></td>
    </tr>
    <% end %>
</table>