<table>
    <tr>
        <th>Name</th>
        <th>Date</th>
    </tr>
    
    <% @events.each do |event| %>
    <tr>
        
        <td><%= link_to event.title, event %></td>
        <td><%=h event.start_date%></td>
    </tr>
    <% end %>
</table>